<a href="https://colab.research.google.com/github/mayuresh-tungare/upgrad_bootcamp/blob/main/module13/module13_mcqs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A survey finds that 60% of participants enjoy reading fiction, 45% enjoy reading non-fiction, and 25% enjoy both. If a participant does not enjoy fiction, what is the probability that they enjoy non-fiction?

ANSWER:
```python
# Given probabilities
p_f = 0.60
p_nf = 0.45
p_f_and_nf = 0.25

# Probability of not enjoying fiction
p_not_f = 1 - p_f

# Probability of enjoying non-fiction but not fiction
# P(NF and not F) = P(NF) - P(NF and F)
p_nf_and_not_f = p_nf - p_f_and_nf

# Conditional probability: P(NF | not F)
p_nf_given_not_f = p_nf_and_not_f / p_not_f

print(f"{p_not_f=}")
print(f"{p_nf_and_not_f=}")
print(f"{p_nf_given_not_f=}")



```

```text
p_not_f=0.4
p_nf_and_not_f=0.2
p_nf_given_not_f=0.5


```

To find the probability that a participant enjoys non-fiction given that they do not enjoy fiction, we can use the conditional probability formula.

### 1. Identify the given probabilities

Let  be the event that a participant enjoys fiction, and  be the event that a participant enjoys non-fiction.

*
*
*  (Probability of enjoying both)

### 2. Calculate the probability of not enjoying fiction ()

The probability that a participant does not enjoy fiction is:


### 3. Calculate the probability of enjoying non-fiction but not fiction ()

This is the group of people who enjoy non-fiction exclusively or are part of the non-fiction group minus those who also like fiction:


### 4. Calculate the conditional probability

We want to find , which is the probability of enjoying non-fiction given that the participant does not enjoy fiction:


**Conclusion:**
If a participant does not enjoy fiction, the probability that they enjoy non-fiction is **0.5** (or **50%**).

What is the determinant of the following matrix?

[4 2]
[3 1]

Equation

ANSWER:
-2

Evaluate equation

212/3

A company is hosting two promotional events:


Event A is for customers who purchased Product X but not Product Y,

Event B is for customers who purchased Product Y but not Product X, and

Customers who purchased both products are invited to a loyalty event instead.


If 50 customers bought Product X, 38 bought Product Y, and 18 bought both, how many customers are invited to either Event A or Event B but not the loyalty event?

ANSWER
52

An analyst observes that the mean and median of a dataset remain unchanged, even after it is accidentally expanded to twice its size. Which of the following most likely explains this behaviour?

ANSWER The original data was duplicated exactly

If Equation and  Equation, what is Equation?

27

A survey of 1,000 people was conducted to find out which sports they watched. The options were: football, basketball, and tennis. The results were as follows:

600 people watched football

400 watched basketball

350 watched tennis

220 watched both football and basketball

180 watched both basketball and tennis

150 watched both football and tennis

100 watched all three sports


How many people watched exactly one of the three sports?

550

A dataset has the following values:

10, 12, 14, 16, 18, x



If the range of the dataset is 15, which of the following could be the value of x? (Select all that apply) 25

Which of the following vectors can be expressed as a linear combination of the vectors p = [2, 1] and q = [1, 3]? (Select all that apply) All choices

Consider the following matrix: EquationWhat result would you obtain if you were to multiply this matrix with another 3x3 matrix comprised entirely of ones?

![image.png]()

An organisation generates 5-digit access codes for secure doors using digits from 0–9. Each code must meet the following criteria:



Exactly one digit appears twice

The other three digits must all be distinct and different from the repeated digit

Codes cannot begin with 0



For example:

Valid → 84421 (two 4s, three other unique digits)

Invalid → 88214 (two digits repeat) or 84441 (one digit appears more than twice)



How many such valid 5-digit codes can be generated? 45,360

A researcher records the number of hours spent studying daily by 15 students: 1, 2, 3, 4, 5, 1, 2, 4, 3, 2, 5, 1, 3, 4, 2. Due to a technical error, the dataset is duplicated, resulting in 30 entries. Which of the following statements best describes how the duplication of a dataset affects the mean and median?

Mean unchanged, median unchanged

What is the Pearson correlation coefficient between X = [3, 6, 9, 12, 15] and Y = [1, 2, 3, 4, 5]?

The Pearson correlation coefficient is 1.

How many subsets of size 3 can be formed from a set of 8 elements?

There are 56 possible subsets of size 3.

If two fair dice are rolled, what is the probability that the sum is 8?

![image.png]()

How many distinct permutations are there of the letters in the word 'SUCCESS' ?

420


Given the function: Equation. Find the second-order derivative Equation.

You are working with a 3D vector space and need to calculate the Euclidean norm (magnitude) of the vector v = [3, -4, 12]. What is the Euclidean norm of this vector?

Find the local minima of the following function:

Equation

Which of the following statement(s) about deciles, percentiles, and quartiles is/are true? (Select all that apply) All

What is the output of the following code block?



nums = [7, 8, 9]
result = nums[1:] + [nums.pop()]
print(result)

[8, 9, 9]

What is the output of the following code block?



def transform_elements(data):

    output = []

    for element in data:

        if type(element) == int:

            output.append(element + 5)

        else:

            output.append(str(element).lower())

    return output



print(transform_elements([10, 'WORLD', False, 3]))

The output of the code block is:

[15, 'world', 'false', 8]

ellO row o

What is the output of the following code block?



print(set('pineapple') - set('applepie'))

The output of the code block is:

{'n'}

Which method(s) can be used to sort a list of tuples like Equationbased on the length of the string in each tuple? (Select all that apply)

sorted(data, key=lambda x: len(x[0]))
data.sort(key=lambda x: len(x[0]))

Match each Python expression with its correct result or behaviour.


Statements	Results
 (a) type([1, 2, 3]) 	 (i) 2
(b) len({'a': 1, 'b': 2}) 	(ii) <class 'list'>
(c) set([1, 2, 2, 3]) 	(iii) True
(d) tuple('abc') 	(iv) ('a', 'b', 'c')
(e) '123'.isdigit() 	(v) {1, 2, 3}


Choose the correct matching:

Not Answered
Single Choice
(a)-(ii), (b)-(i), (c)-(v), (d)-(iv), (e)-(iii)


(a)-(i), (b)-(ii), (c)-(iii), (d)-(v), (e)-(iv)


(a)-(ii), (b)-(iii), (c)-(i), (d)-(v), (e)-(iv)


(a)-(iii), (b)-(ii), (c)-(i), (d)-(iv), (e)-(v)


The correct matching is: (a)-(ii), (b)-(i), (c)-(v), (d)-(iv), (e)-(iii)

What is the output of the following code block?



lst = [1, 3, 5, 6]
for i in range(len(lst)):
    if lst[i] % 2 == 0:
        lst[i] = lst[i] * 2
    else:
        for j in range(i):
            lst[j] -= 1

print(lst)
Not Answered
Single Choice
[1, 3, 5, 12]


[0, 2, 4, 12]


[1, 3, 5, 6]


None of the above

The output of the code block is:

[-1, 1, 3, 12] (Which corresponds to None of the above)

Which of the following statements correctly updates the salary of employee 'E1' to 60000?

MODIFY employees SET salary = 60000 WHERE id = 'E1';

UPDATE employees SET salary = 60000 WHERE id = 'E1';


SET salary = 60000 FROM employees WHERE id = 'E1';

ALTER employees SET salary = 60000 WHERE id = 'E1';

The correct SQL statement to modify existing data in a table is:

UPDATE employees SET salary = 60000 WHERE id = 'E1';

Which query returns the names of customers who have placed more than 3 orders? Assume table orders contains the column (customer_id) and customers contains the columns (id, name).

SELECT name FROM customers WHERE id IN (SELECT customer_id FROM orders GROUP BY customer_id HAVING COUNT(*) > 3);



SELECT name FROM orders GROUP BY customer_id HAVING COUNT(*) > 3;

SELECT name FROM customers WHERE COUNT(*) > 3;

SELECT customer_id FROM orders WHERE COUNT(*) > 3;

SELECT name FROM customers WHERE id IN (SELECT customer_id FROM orders GROUP BY customer_id HAVING COUNT(*) > 3);

Which of the following queries retrieves only the first 5 rows from the employees table in MySQL?

SELECT * FROM employees WHERE ROWNUM <= 5;

 SELECT TOP 5 * FROM employees;

SELECT * FROM employees LIMIT 5;


SELECT FIRST 5 FROM employees;

The correct query to retrieve the first 5 rows in MySQL is:

SELECT * FROM employees LIMIT 5;

What will the following query return?

SELECT COUNT(*) FROM orders WHERE status = 'shipped';
Not Answered
Single Choice
The number of rows in the orders table


The number of orders with status 'shipped'



The total price of all shipped orders


The list of shipped orders

The query will return the number of orders with status 'shipped'

Which SQL statement correctly returns employees who earn more than the average salary in their department? Assume table employees contains the columns (id, name, dept_id, salary).
Not Answered
Single Choice
SELECT name FROM employees WHERE salary > (SELECT AVG(salary) FROM employees);

SELECT name FROM employees e WHERE salary > (SELECT AVG(salary) FROM employees WHERE dept_id = e.dept_id);

SELECT name FROM employees WHERE salary > ALL (SELECT AVG(salary) FROM employees GROUP BY dept_id);

SELECT name FROM employees e JOIN departments d ON e.dept_id = d.id WHERE salary > AVG(e.salary);

SELECT name FROM employees e WHERE salary > (SELECT AVG(salary) FROM employees WHERE dept_id = e.dept_id);

SELECT name FROM employees e WHERE salary > (SELECT AVG(salary) FROM employees WHERE dept_id = e.dept_id);

Which SQL query correctly performs a full outer join of A and B on column id in MySQL?

Not Answered
Single Choice
SELECT * FROM A FULL OUTER JOIN B ON A.id = B.id;

SELECT * FROM A LEFT JOIN B ON A.id = B.id UNION SELECT * FROM A RIGHT JOIN B ON A.id = B.id;


SELECT * FROM A, B WHERE A.id = B.id;

SELECT * FROM A OUTER JOIN B ON A.id = B.id;

SELECT * FROM A LEFT JOIN B ON A.id = B.id UNION SELECT * FROM A RIGHT JOIN B ON A.id = B.id;